@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    height: 100%
}
body{
    font-family: 'Montserrat', sans-serif;
    

}

/* COMIENZO DE HEADER */
header{
    padding: 1.5em 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 rgba(134, 134, 134, 0.25);
    position: fixed;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.row{
    display: flex;


}
.centro{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    margin: 0 0.93em;
    color: #2E2E31;
    padding: 0.31em;


}
.li1:hover{
    color:#ff006e;
    cursor: pointer;
    
}

.li1:active{
    border-radius: 80px;
    color: :#ff006e;
    box-shadow: 0px 0px 7px #ff006e;
    outline: 0;
}
a{
    text-decoration: none;
     color: #2E2E31;
    ;

}
.a1{
    text-decoration: none;
    color: white;
}
.contacto{
    margin-left: 1.12em;
    margin-right: 5.625em;
    color: white;
    background-color: #f780a7;
    padding: 0.62em 1.87em ;
    border-radius: 100px;
    font-weight: 500;
}
.contacto:hover{
opacity: 0.8;
}
.contacto:active {
    box-shadow: 0px 0px 7px #f780a7;
    outline: 0;
}
    

/*FIN HEADER- COMIENZO BARRA DE NAVEGACION */
.barra-de-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: 0.2s;
  }

/*COMIENZO PRESENTACION*/

.section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 6.875em 2.5em 3em ;

 }
 .presentacionsection{
    min-height: calc(100vh - 90px);

 }
 .column {
    width: 100%;
    max-width: 1100px;
 }

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3em;
}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 50%;
    padding: 6.875em 0em; 
}

p{
    line-height: 1.2;
}


.size{
    width: 50%;
}
.hola{
    font-size: 1.87rem;
    font-weight: 800;
    margin-bottom: 0.312em;
    color: #2E2E31;

}
.nombre{
    font-size: 3.75rem;
    font-weight: 900;
    color: #f780a7;
}
.info{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2.5em;
    margin-top: 1em;
    color:#616161
}
.boton2 {
    background-color:#f780a7;
    color: white;
    padding: 0.93em 2.5em 0.93em ;
    border-radius: 100px;
    font-weight: 500;

}
.boton2:hover{
    opacity: 0.8;
}
/*FIN PRESENTACION-COMIENZO SKILLS*/
.conocimientos{
    background-color: #f6f7fb;
    width: 100%;
    
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2.81em;
    font-weight: 900;
    margin-bottom: 0.375em;
}

.p-skill{
  
    max-width: 400px;
    color: #3f3f42;
    

}

/*COMIENZO GRID*/

.layout{
    padding: 3.125em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.caja{
  
    border: 1px solid #e6e0e0;
    width: 16.25em;
    height: 14.125em;
    margin: 0.625em;
    border-radius: 8px;
    padding: 1.87em;
    background-color: #fffdfd;
    color: #2e2e31;

}
.caja:hover{
    color:#f780a7;
    border-color: #f780a7;
}

.skill-icon {
    font-size: 5.37rem;
    margin-bottom: 0.25em;
}

.html-icon{
    color: #e54d26;
}

.css-icon{
    color:#2a91d1
}

.sass-icon{
    font-size: 5.1rem;
    margin-top: 0.03em;
    margin-bottom: 0.31em;
    color:rgb(205, 92, 135);
}
.java-icon{
    color: #f0db4f;
}
.react-icon{
    color:#61dafb;
}
.git-icon{
    color:#f34f29;
}
.texto-skill{
    font-size: 1.25rem;
    font-weight: 700;
}
/*FIN SKILLS-COMIENZO QUOTE*/

.quote{
    background-color:#f780a7; 
    padding: 6em 2.5em 8.125em;
    color: white;
    
}
.quotesize{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1.25em;
    
}
.pquote{
    font-size:3rem;
    max-width: 800px;
}
.autor{
    font-size: 1.69em;
    font-weight: 900;
    margin-top: 1.5em;
    margin-bottom: 0;
}
/*FIN QUOTE-COMIENZO MIS PROYECTOS*/

.layout2{

    padding: 3em 0em;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.cajon{
    border:1px solid #e0e0e0; 
    border-radius: 5%;
    background-color: #ffffff ;
    width:21.375em;
    height: 21.75em;
    margin: 0.625em;
    padding: 1%;
    font-weight: 600;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.style-projects{
    width: 100%;

}
.size2{
    width:80%;
}

.margenabajo{
    margin-bottom: 0.6em;
}

.margenabajo2{
    margin-bottom: 0.9em;
}

/*FIN PROJECTS//COMIENZO FORMULARIO*/

/*FIN PROJECTS//COMIENZO FORMULARIO*/

.form{
    background-color: #f6f7fb;
    padding: 6.87em 2.5em 8.12em;
    
    display: flex;
    justify-content: center;
}
.contenedor{
    border:1px solid #e0e0e0; 
    background-color: #ffffff;
    border-radius: 3%;
    padding: 80px 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.p-contacto{
    
    max-width: 300px;
    color: #3f3f42;
      
}

.contact-links {
    margin-top: 2.5em;
}


.social-item {
    display: flex;
    padding: 0.312em 0;
}
.social-item:focus{
    
    border-radius: 80px;
    color: :#ff006e;
    box-shadow: 0px 0px 7px #ff006e;
    outline: 0;
}
.a2{
    text-decoration: none;
    color: #3f3f42;    
    display: flex;
    text-align: center;
    align-items: center;
}
.a2:hover{
    color: #f780a7;
}
.contact-link {
    display: flex;
    align-items: center;
    padding: 0.31em 0.625em;
    border-radius: 100px;
    
}
.social-icon {
    width: 2.2em;
    height: 2.2em;
    background-color: #ffff;
    color:#f780a7; 
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-right: 0.625em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon:hover{
    color:white;
    background-color: #f780a7;
    border: 1px solid #f780a7;
    border-radius: 50%;
}

.datos{
    display: flex;
}

label{
    font-weight: 600;
    margin-bottom: 0.5em;
}
input{
    border-radius:20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    font-size: 1rem;
    padding: 0.62em 0.93em;
    width: 95%;
    margin-top: 0.5em;
}

input:focus{
    border-radius: 80px;
    color: :#ff006e;
    box-shadow: 0px 0px 7px #ff006e;
    outline: 0; 
    
}

textarea{
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    font-size: 1rem;
    padding: 0.62em 0.93em;
    width: 100%;
}
textarea:focus{
    color: :#ff006e;
    box-shadow: 0px 0px 7px #ff006e;
    outline: 0; 
}
button{
    border: none;
}


/*FIN FORMULARIO-COMIENZO FOOTER*/
.footer2{
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;

padding: 0em 1.25em 3.75em;
}

.footerlink{
    color: white;
    font-size: 0.87em
}

.footersocial{
    display: flex;
    margin: 1.7em 0em;
}
.footer-icon {
    width: 2.2em;
    height: 2.2em;
    background-color: #ffff;
    color:#f780a7; 
    border-radius: 50%;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30% 20%;

}
.footer-icon:hover{
    border: 0.5px solid white;
    color: white;
    background-color:#f780a7 ;

}
.li3:active{
    border-radius: 80px;
    color: :white;
    padding:0.3em;
    box-shadow: 0px 0px 7px white;
    outline: 0;
}


/* MEDIA QUERY*/

@media only screen and (max-width: 700px) {

    header{
        display: none;
    }

    .section {
        padding: 5em 1.25em;}

    .main{
        margin-top: 0em;
        display: flex;
        flex-direction: column;
        align-content: flex-center;

    }

    .column {
        max-width: 100%;
    }
      
    .presentacion{
        align-items:center;
        text-align: center;
        width:90%;

    }
    .nombre{
        font-size: 3em;
    }

    .info{
        font-size: 1.2em;

    }
    .size{
        width: 100%;
    }
    .layout2{
        padding:0 ;
        display: flex;
        justify-content: center;
        
    }
    .form{
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: transparent;
        }

    .datos{
        display: flex;
        flex-direction: column;
    }
    .contenedor{
        padding: 0.5em;
        border: none;
    }
    .contactame{
        display: flex;
        flex-direction: column;
        padding:1.25em;
        overflow:auto;

    }
    .formulario{
        padding: 1.25em;
    }
    nav{
        display: none;
    }
 

  }
  